body {
    box-sizing: border-box;
    background-color: black;
    margin: 0;
}

.line {
    position: absolute;
    background-color: white;
}

.horozontal {
    width: 100%;
    height: 1px;
}

.vertical {
    height: 100%;
    width: 1px;
}

.target {
    position: absolute;
}

.tag {
    position: absolute;
    color: white;
    font-size: 38px;
}

.carrot {
    width: 48px;
    height: 48px;
}